<aside class="sidebar" role="note" style="background-image: url({{ site.baseurl }}{{ site.images }}/{{ page.bg }})">

  <div class="cover">

    <div class="cover-text">
      <div class="heading">

        {% if page.tags %} {% for tag in page.tags %}
        <a href="/posts/#{{ tag | downcase }}">{{ tag | downcase }}</a> {% endfor %} {% else %} {{ page.title }} {% endif
        %}

      </div>

      <p>
        {% if page.summary %}
          {{ page.summary }}
        {% endif %}
      </p>

    </div>

  </div>

  <div id="switcher">
    <div class="chevron">
      <div class="chevron-top">
      </div>
      <div class="chevron-bottom">
      </div>
    </div>
  </div>
</aside>